* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 10px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 20px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 15px;
}

button {
  margin: 4px;
  font-size: 0.9em;
  font-weight: 550;
  width: 25%;
  border: hidden;
  border-radius: 5px;
  color: rgb(62, 71, 202);
  background-color: rgba(254, 167, 113, 0.873);
}

input[type="checkbox"] {
  margin: 2px;
  width: 4%;
  color: rgb(62, 71, 202);
  background-color: white;
}

.avatar {
  border-radius: 50%;
}

.beautify {
  margin: 10px;
  font-size: 0.9em;
  width: 20%;
  line-height: 14px;
  color: rgb(163, 22, 12);
}

.beautifyBttn {
  margin: 5px;
  font-size: 0.9em;
  font-weight: 550;
  width: 15%;
  border: hidden;
  border-radius: 5px;
  color: rgb(62, 71, 202);
  background-color: rgba(167, 234, 85, 0.873);
}

.beautifyTextField {
  margin: 5px;
  font-size: 0.9em;
  width: 35%;
  border: hidden;
  border-radius: 4px;
  color: rgb(214, 119, 10);
  background-color: rgba(235, 247, 250, 0.866);
}

.section {
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  font: 12px Georgia, serif;
  color: rgba(187, 131, 19, 0.892);
}

.fancy {
  border: 4px dashed pink;
}

.chat,
.contact-list {
  float: left;
  margin-bottom: 20px;
}

ul,
li {
  list-style: none;
  margin: 1px;
  padding: 1px;
}
li button {
  width: 50px;
  padding: 5px;
  margin-right: 5px;
}
textarea {
  height: 150px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(214, 231, 254);
  text-align: center;
  line-height: 14px;
  font-size: 14px;
  margin: 2px;
  width: 75%;
}
