* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

.avatar {
  border-radius: 50%;
}

.beautify {
  margin: 5px;
  font-size: 0.9em;
  width: 2%;
  color: rgb(163, 22, 12);
}

.beautifyBttn {
  margin: 5px;
  font-size: 0.9em;
  width: 20%;
  border: hidden;
  border-radius: 10px;
  color: rgb(62, 71, 202);
  background-color: rgba(167, 234, 85, 0.873);
}
